@import '../../common.scss';

.subject-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.subject-info {
  cursor: default;
}

.subject-header {
  color: $colorP11;
  cursor: pointer;
}

.subject-header:hover {
  text-decoration: underline $colorP11;
}
