<div class="main-page-body-div">
  <div class="header-elem">
    <div class="header-icon-elem">
      <fa-icon [class]="['header-icon']" [icon]="studentListNavigationItem.getIcon()"></fa-icon>
    </div>
    <h1 class="main-page-h1">Student List</h1>
  </div>
  <div class="separation-line-2"></div>
  <div class="search-div">
    <div class="input-div">
      <span>Find By Course Name:</span>
      <p-autoComplete name="auto-complete"
                      [(ngModel)]="selectedTimetable"
                      [placeholder]="'Search For A Time Table'"
                      [inputStyleClass]="'default-input-2'"
                      [styleClass]="'default-input-1-container'"
                      [style.width.%]="100"
                      [suggestions]="foundTimetables"
                      (click)="onTimeTableSelected()"
                      (onKeyUp)="onSubmitTimeTable($event)"/>
    </div>
    <div class="filter-div">
      <input class="default-input-2" autocomplete="new-password" type="datetime-local"
             placeholder="Time Start" [(ngModel)]="timeStart" name="search-input">
    </div>
    <div class="filter-div">
      <input class="default-input-2" autocomplete="new-password" type="datetime-local"
             placeholder="Time End" [(ngModel)]="timeEnd" name="search-input">
    </div>
    <div class="filter-div">
      <button class="default-btn" (click)="clearFilters()">Clear Filters</button>
    </div>
  </div>
  <div class="table-body">
    <div class="table-container">
      <table>
        <thead>
        <tr>
          <th>Name</th>
          <th>Absent</th>
          <th>Minutes Late</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Prénom random</td>
          <td>
            <input type="checkbox">
          </td>
          <td class="retard">
            <input type="number" class="retard-input"> <span class="label-minutes">minutes</span>
          </td>
        </tr>
        <tr>
          <td>Random</td>
          <td>
            <input type="checkbox">
          </td>
          <td class="retard">
            <input type="number" class="retard-input"> <span class="label-minutes">minutes</span>
          </td>
        </tr>
        <tr>
          <td>Random</td>
          <td>
            <input type="checkbox">
          </td>
          <td class="retard">
            <input type="number" class="retard-input"> <span class="label-minutes">minutes</span>
          </td>
        </tr>
        <tr>
          <td>Random</td>
          <td>
            <input type="checkbox">
          </td>
          <td class="retard">
            <input type="number" class="retard-input"> <span class="label-minutes">minutes</span>
          </td>
        </tr>
        <tr>
          <td>Random</td>
          <td>
            <input type="checkbox">
          </td>
          <td class="retard">
            <input type="number" class="retard-input"> <span class="label-minutes">minutes</span>
          </td>
        </tr>
        <tr>
          <td>Random</td>
          <td>
            <input type="checkbox">
          </td>
          <td class="retard">
            <input type="number" class="retard-input"> <span class="label-minutes">minutes</span>
          </td>
        </tr>
        <tr>
          <td>Random</td>
          <td>
            <input type="checkbox">
          </td>
          <td class="retard">
            <input type="number" class="retard-input"> <span class="label-minutes">minutes</span>
          </td>
        </tr>
        <tr>
          <td>Random</td>
          <td>
            <input type="checkbox">
          </td>
          <td class="retard">
            <input type="number" class="retard-input"> <span class="label-minutes">minutes</span>
          </td>
        </tr>
        <tr>
          <td>Random</td>
          <td>
            <input type="checkbox">
          </td>
          <td class="retard">
            <input type="number" class="retard-input"> <span class="label-minutes">minutes</span>
          </td>
        </tr>
        <tr>
          <td>Random</td>
          <td>
            <input type="checkbox">
          </td>
          <td class="retard">
            <input type="number" class="retard-input"> <span class="label-minutes">minutes</span>
          </td>
        </tr>
        <tr>
          <td>Random</td>
          <td>
            <input type="checkbox">
          </td>
          <td class="retard">
            <input type="number" class="retard-input"> <span class="label-minutes">minutes</span>
          </td>
        </tr>
        <tr>
          <td>Random</td>
          <td>
            <input type="checkbox">
          </td>
          <td class="retard">
            <input type="number" class="retard-input"> <span class="label-minutes">minutes</span>
          </td>
        </tr>
        <tr>
          <td>Random</td>
          <td>
            <input type="checkbox">
          </td>
          <td class="retard">
            <input type="number" class="retard-input"> <span class="label-minutes">minutes</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
